# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
bot_env/
venv/
.env

# Celery
celerybeat-schedule
celerybeat.pid

# Celery runtime files
celerybeat-schedule
celerybeat-schedule.*

# Backup / copies
*.bak
* copy.json

# Local debug artifacts
map_debug.jpg
manual.docx

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
